@import '../../styles/global.scss';
@import '../../templates/header/header.scss';
@import '../../templates/room-info/room-info.scss';
@import '../../templates/donut-chart/donut-chart.scss';
@import '../../templates/room-info-card/room-info-card.scss';
@import '../../templates/user-comment/user-comment.scss';
@import '../../templates/bullet-list/bullet-list.scss';
@import '../../templates/footer/footer.scss';

.room-details-main {
  border-bottom: 1px solid $color-main-lighter;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.room-img-gallery {
  width: 100%;
  max-height: 485px;

  &__grid {
    max-height: inherit;
    display: grid;
    grid-template-columns: 1fr 461px;

    @media screen and (max-width: 830px) {
      grid-template-columns: 1fr;
      padding: 0 15px;
    }
  }

  &__left-box {
    max-height: inherit;
    grid-column: 1;

    @media screen and (max-width: 830px) {
      max-height: 430px;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__right-box {
    max-height: inherit;
    grid-column: 2;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 830px) {
      grid-column: 1;
      row-gap: 10px;
    }
  }

  @media screen and (max-width: 830px) {
    max-height: fit-content;
  }
}

.room-main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.room-secondary-img {
  max-height: 243px;
  height: 100%;
  width: 100%;
  object-fit: cover;

  &--revert {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  @media screen and (max-width: 830px) {
    max-height: 430px;
    width: 100%;
    object-fit: cover;
  }
}

.room-main-info {
  &__container {
    padding: 70px 15px;
  }

  &__grid {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      'room-details impressions-room booking-card'
      'visitor-reviews visitor-reviews booking-card'
      'additional-info additional-info booking-card';
    row-gap: 30px;
    column-gap: 70px;

    @media screen and (max-width: 1120px) {
      grid-template-areas:
        'room-details booking-card'
        'impressions-room booking-card'
        'visitor-reviews visitor-reviews'
        'additional-info additional-info';
    }

    @media screen and (max-width: 830px) {
      grid-template-areas:
        'booking-card booking-card'
        'room-details impressions-room'
        'visitor-reviews visitor-reviews'
        'additional-info additional-info';
    }

    @media screen and (max-width: 700px) {
      grid-template-areas:
        'booking-card'
        'room-details'
        'impressions-room'
        'visitor-reviews'
        'additional-info';
    }
  }
}

.room-details,
.impressions-room,
.visitor-reviews,
.additional-info {
  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: $color-main-darker;
    margin-bottom: 20px;
  }
}

.room-details {
  grid-area: room-details;

  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.impressions-room {
  grid-area: impressions-room;

  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.booking-card {
  grid-area: booking-card;

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 830px) {
    display: flex;
    justify-content: center;
  }
}

.visitor-reviews {
  grid-area: visitor-reviews;
  max-width: 712px;

  &__title {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 440px) {
      column-gap: 15px;
    }
  }

  &__count-review {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: $color-main-light;
    white-space: nowrap;
  }

  &__comment {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.additional-info {
  grid-area: additional-info;
  display: flex;
  column-gap: 98px;

  &__title {
    &_indented {
      margin-left: 20px;
    }
  }

  &__cancel-box {
    max-width: 341px;
  }

  @media screen and (max-width: 760px) {
    flex-direction: column;
    row-gap: 20px;
  }

  @media screen and (max-width: 440px) {
    &__rules-box {
      margin-bottom: 20px;
    }
  }
}
