.toggle {
  max-width: 260px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    appearance: none;
    min-width: 40px;
    min-height: 20px;
    margin-right: 10px;
    background: #fff;
    border: 1px solid $color-main-lighter;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      background-color: $color-main-lighter;
      border-radius: 50%;
      margin: 0 4px;
      transition: transform 0.3s ease;
    }

    &:checked {
      border-color: $color-main;

      &::after {
        transform: translateX(18px);
        background: $main-gradient;
      }
    }
  }
}
