mixin radio-buttons ({ groupName = "group-default", list = [{name: "Мужчина", check: true}, {name: "Женщина"}] }={})
  .radio-buttons
    each val,index in list
      label.radio-buttons__label
        input.radio-buttons__input(type="radio" name= groupName value= val.name checked= val.check)
        span.radio-buttons__input-name #{val.name}
        