.radio-buttons {
  display: flex;
  align-items: center;
  user-select: none;

  &__label {
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    appearance: none;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $color-main-light;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      background: $main-gradient;
      border-radius: 50%;
      opacity: 0;
      z-index: 2;
    }

    &:checked {
      border-color: $color-secondary;

      &::after {
        opacity: 1;
      }
    }

    &:checked ~ .radio-buttons__box {
      color: $color-main-dark;
    }
  }

  &__input-name {
    color: $color-main;
  }
}
