.radio-buttons {
    display: flex;

    &__button {
        position: relative;
    
        &:first-child {
            margin-right: 20px;
        }
    }

    &__input {
        appearance: none;
        position: absolute;
    }

    &__label {
        padding-left: 30px;
        color: $dark_shade_50;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            border: 1px solid $dark_shade_25;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background: $main-gradient;
            border-radius: 50%;
            opacity: 0;
            position: absolute;
            top: 4px;
            left: 4px;
            z-index: 2;
        }
    }
}

.radio-buttons__input:checked + .radio-buttons__label:before {
    border-color: $purple;
}

.radio-buttons__input:checked + .radio-buttons__label:after {
    opacity: 1;
}

.radio-buttons__input:checked~.radio-buttons__label {
	color: $dark_shade_75;
}