mixin subscription-text-field({ type='text', name='Email', placeholder='Email', href='#', target }={})
  .subscription-text-field
    input.subscription-text-field__input(type=type name=name placeholder=placeholder)
    a.subscription-text-field__icon(href= href target= target)
      i.material-icons arrow_forward