mixin sub-text-field({ type='text', name='Email', placeholder='Email', href='#' }={})
    .sub-text-field
        input.sub-text-field__input(type=type name=name placeholder=placeholder)
        a.sub-text-field__btn(href=href)
            i.material-icons arrow_forward