.subscription-text-field {
  position: relative;
  max-width: 267px;

  &__tittle{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
  }
}

.subscription-text-field__input {
  width: 100%;
  height: 44px;
  background: #fff;
  color: $dark_shade_25;
  border: 1px solid $dark_shade_25;
  border-radius: 4px;
  padding: 0 59px 0 15px;
  font-size: 14px;
  line-height: 24px;

  &::placeholder {
    color: $dark_shade_25;
  }

  &:hover, &:focus {
    color: $dark_shade_75;
    border-color: $dark_shade_50;
  }
}

.subscription-text-field__icon {
  position: absolute;
  width: 44px;
  height: 44px;
  right: 0;
  bottom: 0;
  font-size: 24px;
  line-height: 24px;
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}