include ../logo/logo.pug
include ../buttons/buttons.pug

mixin header-unauth({  }={})
  header.header-unauth
    .header-unauth__container
      .header-unauth__logo
        +logo
      .header-unauth__nav-menu
        include ../nav-menu/nav-menu.pug
        +nav-menu({
          listMenu: [
            {name: 'О нас', href: '/mock-address/change-me'},
            {name: 'Услуги', href: '/mock-address/change-me', submenu: [
              {name: 'Соглашения', href: '/mock-address/change-me'},
              {name: 'Вакансии', href: '/mock-address/change-me'}
            ]},
            {name: 'Вакансии', href: '/mock-address/change-me'},
            {name: 'Новости', href: '/mock-address/change-me'},
            {name: 'Соглашения', href: '/mock-address/change-me', submenu: [
              {name: 'Соглашения', href: '/mock-address/change-me'},
              {name: 'Вакансии', href: '/mock-address/change-me'}
            ]},
          ]
        })
      .header-unauth__box-auth
        .header-unauth__btn-login
          +button({
            groupName: 'border',
            text: 'Войти',
            href: 'sign-in.html',
            small: true
          })
        .header-unauth__btn-registration
          +button({
            groupName: 'background',
            text: 'зарегистрироваться',
            href: 'sign-up.html',
            small: true
          })
            