@import '../nav-menu/nav-menu.scss';
@import "../logo/logo.scss";
@import "../buttons/buttons";

.header-unauth{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $dark_shade_5;
  font-family: 'Montserrat', Arial, sans-serif;

  &__container{
    max-width: 1160px;
    min-height: 70px;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo{
    flex-grow: 1;
    margin: 0 auto;
  }

  &__nav-menu{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  &__box-auth{
    display: flex;
    margin: 0 auto;
  }

  &__btn-login{
    margin-right: 20px;
  }

  @media screen and (max-width: 1200px){
    &__container{
      padding: 15px 15px;
    }
  }

  @media screen and (max-width: 940px) {
    &__container{
      flex-direction: column;
    }

    &__logo, &__nav-menu{
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 515px) {
    &__nav-menu{
      margin: 0 auto 10px;
    }
  }

  @media screen and (max-width: 350px) {
    &__box-auth{
      flex-direction: column;
    }

    &__btn-login{
      margin-right: 0;
      margin: 0 auto 10px;
    }
  }
}
