mixin rich-checkbox-buttons({ title, list=[], }={})
  .rich-checkbox-btns
    if title
      span.rich-checkbox-btns__tittle #{title}
    each btn in list
      label.rich-checkbox-btns__item
        input.rich-checkbox-btns__input(type="checkbox" checked= btn.check)
        .rich-checkbox-btns__box
          p.rich-checkbox-btns__name !{btn.name}
          p.rich-checkbox-btns__desc !{btn.desc}