mixin rich-checkbox-buttons({ list=[] }={})
  .rich-checkbox-buttons
    each btn in list
      label.rich-checkbox-buttons__item
        input.rich-checkbox-buttons__input(type="checkbox" checked= btn.check)
        .rich-checkbox-buttons__box
          p.rich-checkbox-buttons__name !{btn.name}
          p.rich-checkbox-buttons__desc !{btn.desc}