.rich-checkbox-btns {
    display: flex;
    flex-direction: column;
    max-width: 266px;
    width: 100%;

    .rich-checkbox-btns__item {
        padding-left: 30px;
        padding-top: 12px;
        line-height: 18px;
        color: $dark_shade_50;
        cursor: pointer;
        outline: none;
        display: block;
        margin-bottom: 10px;
        position: relative;
    } 
    
    &__input {
        position: absolute;
        appearance: none;

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            margin-left: -30px;
            width: 18px;
            height: 18px;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid $dark_shade_25;
            background-color: white;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        
    }

    &__name {
        font-family: 'Montserrat-Bold';
        font-size: 14px;
        line-height: 18px;
        color: $dark_shade_75;
        margin-bottom: 5px;
    }

    &__desc {
        font-size: 12px;
        line-height: 14px;
    }
}

.rich-checkbox-btns__input:checked::before {
    border-color: $purple;
    background-image: url(../assets/img/check.svg);
}  