mixin toggle-button ({ list = [{ name: 'Получать спецпредложения'}] }={})
    .toggle-btn
        each btn in list
            label.toggle-btn__label #{btn.name}
                input.toggle-btn__input(type="checkbox" checked= btn.check)                                    