.toggle-btn {
  max-width: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-btn__input {
  appearance: none;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid $dark_shade_25;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  display: flex;
  align-items: center;

  &::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: $dark_shade_25;
    border-radius: 50%;
    margin: 0 4px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
}

.toggle-btn__input:checked {
  border-color: $purple;
}
  
.toggle-btn__input:checked::after {
  background: $main-gradient;
  transform: translateX(18px);
}

