mixin toggle-button ({ name = 'Получать спецпредложения', check, tittle }={})
  .toggle-btn
    if tittle
      span.toggle-btn__tittle !{tittle}
    label.toggle-btn__item
      input.toggle-btn__input(type="checkbox" checked= check)
      span.toggle-btn__box #{name}