mixin toggle-btn ({ groupName = "group-default", items = ["Мужчина", "Женщина", 555]})
    .toggle-btn
        each val,index in items
            input(class="toggle-btn__input" type="checkbox" id=(groupName+"-selector"+(index+1)) name=groupName)
            label(class="toggle-btn__label" for=(groupName+"-selector"+(index+1)))=val                                        