{
  "root": true,
  "extends": ["airbnb-base"],
  "rules": {
    "linebreak-style": 0,
    "operator-linebreak": 0,
    "object-curly-newline": ["error", {
      "consistent": true
    }],
    "no-new": 0,
    "one-var": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "$": true,
    "localStorage": true,
    "sessionStorage": true
  },
  "env": {
    "browser": true
  }
}