include ../calendar/calendar.pug

mixin date-dropdown({ isOpen = false, placeholder='ДД.ММ.ГГГГ' }={})
  .date-dropdown.js-date-dropdown(data-calendar-isOpen= `${isOpen}`)
    .date-dropdown__items
      .date-dropdown__item
        span.date-dropdown__title прибытие
        .date-dropdown__input.date-dropdown__arrival.js-date-dropdown__input
          span.js-date-dropdown-arrival #{placeholder}
          i.material-icons.date-dropdown__arrow.js-date-dropdown__arrow expand_more
      .date-dropdown__item
        span.date-dropdown__title выезд
        .date-dropdown__input.date-dropdown__depature.js-date-dropdown__input
          span.js-date-dropdown-depature #{placeholder}
          i.material-icons.date-dropdown__arrow.js-date-dropdown__arrow expand_more
    .date-dropdown__calendar
      .date-dropdown__calendar-container.js-date-dropdown__calendar-container
        +calendar