@import "../calendar/calendar.scss";

.date-dropdown {
  max-width: 320px;
  display: flex;
  flex-direction: column;

  &__items {
    display: inline-flex;
    align-items: center;
  }

  &__item {
    display: inline-flex;
    flex-direction: column;
    max-width: 150px;
    width: 100%;
    margin-right: 20px;
  
    &:last-child{
      margin-right: 0;
    }
  }

  &__tittle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
    margin-bottom: 5px;
  }

  &__input {
    position: relative;
    width: 100%;
    height: 44px;
    background: #fff;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    padding: 12px 0 8px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $dark_shade_75;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 42px;
    font-size: 24px;
    line-height: 24px;
    color: $dark_shade_50;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  &__calendar {
    position: relative;
    margin-top: 5px;
  }

  &__calendar-container {
    position: absolute;
    z-index: 100;
    width: 100%;
  }
}