include ../calendar/calendar.pug

mixin date-dropdown({ isOpen = false, placeholder='ДД.ММ.ГГГГ' }={})
  .date-dropdown.js-date-dropdown(data-is-open= `${isOpen}`)
    .date-dropdown__list
      .date-dropdown__item
        span.date-dropdown__title прибытие
        .date-dropdown__input.js-date-dropdown__input
          span(data-input-type="arrival") #{placeholder}
          i.material-icons.date-dropdown__arrow.js-date-dropdown__arrow expand_more
      .date-dropdown__item
        span.date-dropdown__title выезд
        .date-dropdown__input.js-date-dropdown__input
          span(data-input-type="depature") #{placeholder}
          i.material-icons.date-dropdown__arrow.js-date-dropdown__arrow expand_more
    .date-dropdown__calendar
      .date-dropdown__calendar-container.js-date-dropdown__calendar-container
        +calendar