mixin room-info({ list=[], }={})
    .room-info
        each item in list
            .room-info__item
                .room-info__icon
                    span.material-icons #{item.icon}
                .room-info_right
                    p.room-info__name #{item.name}
                    p.room-info__desc #{item.desc}
