.dropdown {
  position: relative;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: $main-font-family;

  &_active {
    border-color: $color-main;
  }

  &__name {
    position: relative;
    height: 44px;
    padding-left: 15px;
    border: 1px solid $color-main-light;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &_active {
      border-radius: 4px 4px 0 0;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 24px;
    color: $color-main;
    display: flex;
    justify-content: center;
    align-items: center;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    row-gap: 7px;
    padding: 7px 7px 7px 15px;
    border: 1px solid $color-main-light;
    border-radius: 0 0 4px 4px;
    border-top: none;
    background: white;
    color: $color-main-darker;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    z-index: 100;

    &_active {
      display: flex;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 30px;
    height: 30px;
    border: 1px solid $color-main-light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;

    &_active {
      opacity: 1;
    }

    &_type {
      &_plus {
        opacity: 1;
      }
    }
  }

  &__control-panel {
    display: block;
  }

  &__control-button {
    padding: 13px 0 6px 0;
    display: none;
    font-size: 12px;
    line-height: 15px;
    color: $color-secondary;
    user-select: none;
    cursor: pointer;

    &_active {
      display: block;
    }

    &:active {
      color: $color-main;
    }

    &_type {
      &_clear {
        float: left;
      }

      &_confirm {
        float: right;
      }
    }
  }
}
