.dropdown {
  position: relative;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background: white;
  
  &_active {
    border-color: $dark_shade_50;
  }

  // &__title{
  //   font-family: 'Montserrat', sans-serif;
  //   font-weight: 700;
  //   font-size: 12px;
  //   line-height: 15px;
  //   text-transform: uppercase;
  //   color: $dark_shade_100;
  //   margin-bottom: 5px;
  // }

  &__name {
    position: relative;
    height: 44px;
    padding-left: 15px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
  
    &_active {
      border-radius: 4px 4px 0 0;
    }
  }

  &__icon {
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 24px;
    color: $dark_shade_50;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &_active {
      transform: rotate(-180deg);
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    display: none;
    flex-direction: column;
    row-gap: 7px;
    padding: 7px 7px 7px 15px;
    border: 1px solid $dark_shade_25;
    border-radius: 0 0 4px 4px;
    border-top: none;
    background: white;
    color: $dark_shade_100;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    z-index: 100;
  
    &_active {
      display: flex;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-counter {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-btn {
    width: 30px;
    height: 30px;
    border: 1px solid $dark_shade_25;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark_shade_50;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;
  
    &_active {
      opacity: 1;
    }
  }

  &__plus-btn {
    opacity: 1;
  }

  &__btns {
    padding: 13px 0 6px 0;
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: $purple;
  }

  &__clear-btn {
    float: left;
    display: none;
    justify-content: flex-start;
    
    &:active {
      color: $dark_shade_50;
    }
  
    &_active {
      display: block;
    }
  }

  &__confirm-btn {
    float: right;
    cursor: pointer;
  
    &:active {
      color: $dark_shade_50;
    }
  }
}