extends ../../layout/default.pug

include ../../templates/login-card/login-card.pug

block variables
  - pageTitle = 'Sign-in'

block content
  main.sign-in-main(style="background-image: url('assets/img/auth.jpg')")
    .sign-in-main__container
      .login-card-item.js-login-card-item
        +login-card