@import '../logo/logo.scss';
@import '../button/button';

@import './header-nav-menu/header-nav-menu.scss';

.header {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 20px $color-main-translucent;
  font-family: $main-font-family;

  &__container {
    max-width: 1160px;
    min-height: 70px;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: fit-content;
    flex-grow: 1;
  }

  &__menu-button {
    display: none;
    cursor: pointer;
    user-select: none;
  }

  &__nav-container {
    display: flex;
  }

  &__nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  &__auth-box {
    display: flex;
    margin: 0 auto;
  }

  &__user {
    min-height: 30px;
    padding-left: 20px;
    border-left: 1px solid $color-main-transparent;
    display: flex;
    align-items: center;
  }

  &__user-name {
    font-size: 14px;
    line-height: 17px;
    color: $color-main;
    text-decoration: none;
  }

  &__login-btn {
    width: fit-content;
    margin-right: 20px;
  }

  @media screen and (max-width: 1200px) {
    &__container {
      padding: 15px 15px;
    }
  }

  @media screen and (max-width: 940px) {
    &__menu-button {
      display: flex;
    }

    &__nav-container {
      display: none;
      padding: 16px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      position: absolute;
      z-index: 102;
      top: 105%;
      right: 15px;
      background-color: #ffffff;
      flex-direction: column;
      row-gap: 20px;

      &_active {
        display: flex;
      }
    }

    &__nav-menu {
      margin: 0;
      justify-content: flex-start;
    }

    &__auth-box {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }

    &__user {
      padding: 20px 0 0 0;
      border: 0;
      border-top: 1px solid $color-main-transparent;
    }

    &__login-btn {
      margin: 0;
    }

    .header-nav-menu {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
    }
  }
}
