include ../logo/logo.pug
include ../buttons/_buttons.pug

mixin header({ authorized = false }={})
    header.header
        .header__logo
            +logo
        ul.header__nav
            li.header__nav-item 
                a(href="#")  О нас
            li.header__nav-item
                a(href="#") Услуги
                    i.material-icons expand_more
            li.header__nav-item
                a(href="#") Вакансии
            li.header__nav-item
                a(href="#") Новости
            li.header__nav-item
                a(href="#") Соглашения
                    i.material-icons expand_more
            if authorized
                li.header__nav-user
                    .line
                    a(href="#") Юлий Цезарь
            else
                li.header__nav-btn
                    +button({
                        groupName: 'btnBorder',
                        text: 'Войти',
                        href: 'sign-in.html',
                        small: true
                    })
                li.header__nav-btn
                    +button({
                        groupName: 'btnBackground',
                        text: 'зарегистрироваться',
                        href: 'sign-up.html',
                        small: true
                    })
            