.checkbox-list {
  max-width: 266px;
  position: relative;

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5px;
    cursor: pointer;
  }

  &__tittle {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $dark_shade_100;
    text-transform: uppercase;
  }

  &__arrow {
    width: 44px;
    height: 44px;
    font-family: 'MaterialIcons';
    font-size: 24px;
    line-height: 24px;
    color: $dark_shade_50;
    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
      -webkit-transform: rotate(-180deg);
    }
  }

  &__menu {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 100;
    background: #fff;
    border-radius: 3px;

    &_active {
      display: flex;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 11px;
    padding-left: 30px;
    line-height: 18px;
    color: $dark_shade_50;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;

    &:checked {
      border-color: $purple;
      background-image: url(../assets/img/icons/check.svg);
    }
  }
}