@import '../checkbox/checkbox.scss';

.checkbox-list {
  max-width: 266px;
  position: relative;
  font-family: $main-font-family;

  &__name {
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5px;
    cursor: pointer;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $color-main-darker;
    text-transform: uppercase;
  }

  &__arrow {
    width: 44px;
    height: 44px;
    font-family: 'MaterialIcons';
    font-size: 24px;
    line-height: 24px;
    color: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &_active {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }

  &__menu {
    width: 100%;
    padding: 0 6px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 100;
    background: #fff;
    border-radius: 3px;

    &_active {
      display: flex;
    }
  }
}
