extends ../../layout/default.pug

include ../../templates/filter-date-dropdown/filter-date-dropdown.pug
include ../../templates/dropdown/dropdown.pug
include ../../templates/range-slider/range-slider.pug
include ../../templates/checkbox/checkbox.pug
include ../../templates/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../templates/checkbox-list/checkbox-list.pug
include ../../templates/cutaway-room-card/cutaway-room-card.pug
include ../../templates/pagination/pagination.pug

block variables
  - pageTitle = 'Search-room';
  - roomsList = require('./utils/dataRoomsList.json');

block content
  main.search-room
    .search-room__container
      .filter-sidebar
        .filter-sidebar__item.filter-sidebar__item_option_filter-date.js-filter-room-sidebar__item_option_filter-date
          span.filter-sidebar__input-title даты пребывания в отеле
          +filter-date-dropdown({ isOpen: false })
        .filter-sidebar__item.filter-sidebar__item_option_guests-dropdown.js-filter-room-sidebar__item_option_guests-dropdown
          span.filter-sidebar__input-title гости
          +dropdown({
            isOpen: false,
            list: [
              { name: 'взрослые', total: 2 },
              { name: 'дети', total: 1 },
              { name: 'младенцы', total: 1 },
            ]
          })
        .filter-sidebar__item.filter-sidebar__item_option_range-slider.js-filter-room-sidebar__item_option_range-slider
          .range-slider-box
            +range-slider({ title: 'диапазон цены' })
            p.range-slider-box__description Стоимость за сутки пребывания в номере
        .filter-sidebar__item.filter-sidebar__item_option_checkbox
          span.filter-sidebar__input-title.filter-sidebar__input-title_long правила дома
          +checkbox({ text: 'Можно курить', isChecked: false })
          +checkbox({ text: 'Можно с питомцами' })
          +checkbox({ text: 'Можно курить' })
        .filter-sidebar__item.filter-sidebar__item_option_rich-checkbox
          span.filter-sidebar__input-title.filter-sidebar__input-title_long доступность
          +rich-checkbox-buttons({
            list: [
              { name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.' },
              { name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.' },
            ],
          })
        .filter-sidebar__item.filter-sidebar__item_option_room-about-dropdown.js-filter-room-sidebar__item_option_room-about-dropdown
          span.filter-sidebar__input-title удобства номера
          +dropdown({
            dropType: 'room-about',
            isOpen: false,
            list: [
              { name: 'спальни', total: 2 },
              { name: 'кровати', total: 2 },
              { name: 'ванные комнаты', total: 0 },
            ]
          })
        .filter-sidebar__item.filter-sidebar__item_option_checkbox-list.js-filter-room-sidebar__item_option_checkbox-list
          +checkbox-list({
            title: 'дополнительные удобства',
            list: [
                { text: 'Завтрак', isChecked: false },
                { text: 'Письменный стол' },
                { text: 'Стул для кормления' },
                { text: 'Кроватка' },
                { text: 'Телевизор', isChecked: false },
                { text: 'Шампунь', isChecked: false },
                { text: 'Телевизор', isChecked: false },
                { text: 'Шампунь', isChecked: false },
              ],
          })
      .rooms-list
        h1.rooms-list__title Номера, которые мы для вас подобрали
        .rooms-list__grid
          each room in roomsList
            .rooms-list__item.js-rooms-list__item
              +cutaway-room-card({
                number: room.number,
                lux: room.lux,
                price: room.price,
                stars: room.start,
                reviews: room.reviews,
                sliders: room.sliders,
              })
      .pagination-block.js-pagintation-block
        +pagination
        