.text-field {
  max-width: 320px;
  width: 100%;
  display: inline-block;

  &__input {
    width: 100%;
    height: 44px;
    padding: 0 15px;
    border: 1px solid $color-main-lighter;
    border-radius: 4px;
    font-family: $main-font-family;
    font-size: 14px;
    line-height: 24px;
    color: $color-main-lighter;
    background: #fff;

    &::placeholder {
      color: $color-main-lighter;
    }

    &:hover,
    &:focus {
      color: $color-main-dark;
      border-color: $color-main-light;
      outline: none;
    }
  }
}
