.like-button {
  min-width: 40px;
  min-height: 20px;
  padding: 2px 8px 2px 0px;
  border: 1px solid $color-main-light;
  border-radius: 10px;
  background: #fff;
  color: $color-main-light;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;

  &_active {
    color: $color-secondary;
    border-color: $color-secondary;
  }

  &__icon {
    width: 20px;
    height: fit-content;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    line-height: 9px;

    &_active {
      background: $main-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__count {
    font-size: 10px;
    line-height: 12px;
    float: left;
  }
}
