include ../logo/logo.pug
include ../subscription-text-field/subscription-text-field.pug

include ./footer-nav-menu/footer-nav-menu.pug

mixin footer({ navMenu, desc, copyright }={})
  footer.footer
    .footer__container
      .footer__content
          .footer__logo-box
              .footer__logo-img
                +logo
              span.footer__logo-description= desc
          .footer__nav-box
            +footer-nav-menu({ listMenu: navMenu })
          .footer__distribution
            .footer__distribution-box
              span.footer__distribution-title Подписка
              span.footer__distribution-description Получайте специальные предложения и новости сервиса
            .footer__distribution-input
              +subscription-text-field({ name: 'Email', placeholder: 'Email', iconHref: '/mock-address/change-me' })
      .footer__copyright
          .footer__copyright-title= copyright
          .footer__copyright-social
            a.footer__copyright-link(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/icons/twitter-icon.svg", alt="twitter")
            a.footer__copyright-link(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/icons/facebook-icon.svg", alt="facebook")
            a.footer__copyright-link(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
              img(src="assets/img/icons/instagram-icon.svg", alt="instagram")
