.button {
  max-width: 320px;
  min-height: 34px;
  width: fit-content;
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  user-select: none;

  &__icon {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
  }

  &_type {
    &_default {
      width: fit-content;
      color: $color-main;

      &:hover {
        color: $color-main-light;
      }
    }

    &_background {
      padding: 14px 20px 14px 20px;
      border-radius: 22px;
      color: #fff;
      background: $main-gradient;

      &:hover {
        opacity: 0.5;
      }
    }

    &_border {
      padding: 12px 20px 12px 20px;
      border: 2px solid transparent;
      border-radius: 22px;
      color: $color-main;
      background: $main-gradient;
      background-position: center center;
      box-shadow: inset 0 0 0 100px #fff;
      background-size: 110% 110%;

      &.button_size_small {
        padding: 7px 20px 7px 20px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &_long {
      width: 100%;
      padding: 14px 44px 14px 20px;
      position: relative;
      border-radius: 22px;
      color: #fff;
      background: $main-gradient;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &_size {
    &_small {
      min-height: 34px;
      padding: 9px 20px 9px 20px;
    }
  }
}
