@import '../../styles/global.scss';
@import '../../templates/header-ui/header-ui.scss';
@import '../../templates/text-field/text-field.scss';
@import '../../templates/dropdown/dropdown.scss';
@import '../../templates/date-dropdown/date-dropdown.scss';
@import '../../templates/filter-date-dropdown/filter-date-dropdown.scss';
@import '../../templates/subscription-text-field/subscription-text-field.scss';
@import '../../templates/checkbox/checkbox.scss';
@import '../../templates/radio-buttons/radio-buttons.scss';
@import '../../templates/toggle/toggle.scss';
@import '../../templates/like-button/like-button.scss';
@import '../../templates/rate-button/rate-button.scss';
@import '../../templates/range-slider/range-slider.scss';
@import '../../templates/button/button.scss';
@import '../../templates/pagination/pagination.scss';
@import '../../templates/checkbox-list/checkbox-list.scss';
@import '../../templates/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '../../templates/bullet-list/bullet-list.scss';
@import '../../templates/room-info/room-info.scss';
@import '../../templates/user-comment/user-comment.scss';

.form-elements-hero {
  &__container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 37px 30px;

    @media screen and (max-width: 860px) {
      padding: 37px 10px;
    }
  }

  &__title {
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-main-darker;
    margin-bottom: 5px;

    &_long-indent {
      margin-bottom: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    row-gap: 100px;

    @media screen and (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &_option {
      &_user-comment {
        grid-column: span 2;

        @media screen and (max-width: 680px) {
          grid-column: span 1;
        }
      }
    }
  }

  &__item {
    max-width: 320px;

    &_option {
      &_checkbox {
        display: flex;
        flex-direction: column;
      }

      &_user-comment {
        max-width: fit-content;
      }
    }
  }
}

.like-button-item,
.rate-button-item {
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin: 0;
  }
}
