extends ../../layout/ui-kit.pug

include ../../templates/logo/logo.pug
include ../../templates/text-field/text-field.pug
include ../../templates/dropdown/dropdown.pug
include ../../templates/date-dropdown/date-dropdown.pug
include ../../templates/filter-date-dropdown/filter-date-dropdown.pug
include ../../templates/subscription-text-field/subscription-text-field.pug
include ../../templates/checkbox/checkbox.pug
include ../../templates/radio-buttons/radio-buttons.pug
include ../../templates/toggle/toggle.pug
include ../../templates/like-button/like-button.pug
include ../../templates/rate-button/rate-button.pug
include ../../templates/range-slider/range-slider.pug
include ../../templates/button/button.pug
include ../../templates/pagination/pagination.pug
include ../../templates/checkbox-list/checkbox-list.pug
include ../../templates/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../templates/bullet-list/bullet-list.pug
include ../../templates/room-info/room-info.pug
include ../../templates/user-comment/user-comment.pug

block variables
  - pageTitle = 'Form elements'

block content
  body
    main.form-elements-main 
      section.form-elements-hero
        .form-elements-hero__container
          .form-elements-hero__basic-wrap
            .text-field-custom-column
              .basic-item.text-field-custom-column__item.text-field-item.js-text-field-item
                p.basic-item__title text field
                +text-field({ placeholder: 'Email' })
              .basic-item.text-field-custom-column__item.dropdown-item.js-dropdown-item
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0},
                  ]
                })
              .basic-item.text-field-custom-column__item.text-field-item.js-text-field-item
                p.basic-item__title masked text field
                +text-field({ isMasked: true })
              .basic-item.text-field-custom-column__item.date-dropdown-item.js-date-dropdown-item
                +date-dropdown({
                  isOpen: false,
                  arr: 'date Dropdown',
                  dep: 'date Dropdown',
                })
              .basic-item.text-field-custom-column__item.filter-dates.filter-date-dropdown-item.js-filter-date-dropdown-item
                p.basic-item__title filter date dropdown
                .filter-dates__calendar
                  +filter-date-dropdown({
                    isOpen: false,
                  })
              .basic-item.text-field-custom-column__item
                p.basic-item__title subscription text field
                +subscription-text-field({ name: 'Email', placeholder: 'Email', iconHref: '/mock-address/change-me' })
            .checkbox-buttons-custom-column
              .basic-item.checkbox-buttons-custom-column__checkbox-group
                p.basic-item__title.basic-item__title_long-indent Checkbox Buttons
                +checkbox({ text: 'Можно курить', isChecked: false })
                +checkbox({ text: 'Можно с питомцами' })
                +checkbox({ text: 'Можно пригласить гостей (до 10 человек)' })
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__title.basic-item__title_long-indent Radio Buttons
                +radio-buttons
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__title.basic-item__title_long-indent Toggle
                +toggle({ text: 'Получать спецпредложения' })
                +toggle({ text: 'Получать спецпредложения', isChecked: false })
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__title.basic-item__title_long-indent like button
                .checkbox-buttons-custom-column__like-group.like-button-item.js-like-button-item
                  +like-button
                .checkbox-buttons-custom-column__like-group.like-button-item.js-like-button-item
                  +like-button({
                    count: 12,
                    isChecked: true
                  })
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__title.basic-item__title_long-indent rate button
                .checkbox-buttons-custom-column__rate-group.rate-button-item.js-rate-button-item
                  +rate-button({
                    rating: 4,
                  })
                .checkbox-buttons-custom-column__rate-group.rate-button-item.js-rate-button-item
                  +rate-button({
                    rating: 5,
                    readonly: true,
                  })
            .range-slider-custom-column
              .basic-item.range-slider-custom-column__item.range-slider-item.js-range-slider-item
                +range-slider
              .basic-item.range-slider-custom-column__item
                p.basic-item__title.basic-item__title_long-indent buttons
                .range-slider-custom-column__buttons-group
                  +button({
                    type: 'background',
                  })
                .range-slider-custom-column__buttons-group
                  +button({
                    type: 'border'
                  })
              .basic-item.range-slider-custom-column__item
                +button
              .basic-item.range-slider-custom-column__item
                +button({
                  type: 'long',
                  text: 'перейти к оплате'
                })
              .basic-item.range-slider-custom-column__item.pagination-item.js-pagination-item
                p.basic-item__title.basic-item__title_long-indent pagination
                +pagination
            .drop-first-custom-column
              .basic-item.drop-first-custom-column__item.dropdown-item.js-dropdown-item
                +dropdown({
                  title: 'dropdown',
                  dropType: 'room-about',
                  isOpenList: false,
                  list: [
                    {name: 'спальни', total: 2},
                    {name: 'кровати', total: 2},
                    {name: 'ванные комнаты', total: 0}
                  ]
                })
            .drop-second-custom-column
              .basic-item.drop-second-custom-column__item.dropdown-item.js-dropdown-item
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0}
                  ]
                })
            .drop-third-custom-column
              .basic-item.drop-third-custom-column__item.dropdown-item.js-dropdown-item
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 2},
                    {name: 'дети', total: 1},
                    {name: 'младенцы', total: 0}
                  ]
                })
            .exp-checkbox-list-custom-column
              .basic-item.exp-checkbox-list-custom-column__item.checkbox-list-item.js-checkbox-list-item
                +checkbox-list({
                  list: [
                    { text: 'Завтрак', isChecked: false },
                    { text: 'Письменный стол' },
                    { text: 'Стул для кормления' },
                    { text: 'Кроватка' },
                    { text: 'Телевизор', isChecked: false },
                    { text: 'Шампунь', isChecked: false },
                    { text: 'Телевизор', isChecked: false },
                    { text: 'Шампунь', isChecked: false }
                  ]
                })
            .rich-checkbox-buttons-custom-column
              .basic-item.rich-checkbox-buttons-custom-column__item
                +rich-checkbox-buttons({
                  title: 'rich Checkbox Buttons',
                  list: [
                    {name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.'},
                    {name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
                  ]
                })
            .bullet-list-custom-column
              .basic-item.bullet-list-custom-column__item
                p.basic-item__title.basic-item__title_long-indent bullet list
                +bullet-list({
                  list: [
                    {name: 'Нельзя с питомцами'},
                    {name: 'Без вечеринок и мероприятий'},
                    {name: 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'}
                  ]
                })
            .room-comfort-custom-column
              .basic-item.room-comfort-custom-column__item
                +room-info({
                  list: [
                    {icon: 'insert_emoticon', name: 'Комфорт', desc: 'Шумопоглощающие стены'},
                    {icon: 'location_city', name: 'Удобство', desc: 'Окно в каждой из спален'}
                  ]
                })
            .comment-custom-column
              .basic-item.comment-custom-column__item.user-comment-item.js-user-comment-item
                +user-comment({
                  desc: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })