extends ../../layout/ui-kit.pug

include ../../templates/logo/logo.pug
include ../../templates/text-field/text-field.pug
include ../../templates/dropdown/dropdown.pug
include ../../templates/date-dropdown/date-dropdown.pug
include ../../templates/filter-date-dropdown/filter-date-dropdown.pug
include ../../templates/subscription-text-field/subscription-text-field.pug
include ../../templates/checkbox/checkbox.pug
include ../../templates/radio-buttons/radio-buttons.pug
include ../../templates/toggle/toggle.pug
include ../../templates/like-button/like-button.pug
include ../../templates/rate-button/rate-button.pug
include ../../templates/range-slider/range-slider.pug
include ../../templates/button/button.pug
include ../../templates/pagination/pagination.pug
include ../../templates/checkbox-list/checkbox-list.pug
include ../../templates/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../templates/bullet-list/bullet-list.pug
include ../../templates/room-info/room-info.pug
include ../../templates/user-comment/user-comment.pug

block variables
  - pageTitle = 'Form elements'

block content
  body
    main.form-elements-main
      section.form-elements-hero
        .form-elements-hero__container
          .form-elements-hero__grid
            .form-elements-hero__column
              .form-elements-hero__item(data-component-name = "text-field")
                p.form-elements-hero__title text field
                +text-field({ placeholder: 'Email' })
              .form-elements-hero__item(data-component-name = "dropdown")
                p.form-elements-hero__title dropdown
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0},
                  ]
                })
              .form-elements-hero__item(data-component-name = "text-field")
                p.form-elements-hero__title masked text field
                +text-field({ isMasked: true })
              .form-elements-hero__item(data-component-name = "date-dropdown")
                +date-dropdown({
                  isOpen: false,
                  arr: 'date Dropdown',
                  dep: 'date Dropdown',
                })
              .form-elements-hero__item(data-component-name = "filter-date-dropdown")
                p.form-elements-hero__title filter date dropdown
                +filter-date-dropdown({
                  isOpen: false,
                })
              .form-elements-hero__item(data-component-name = "subscription-text-field")
                p.form-elements-hero__title subscription text field
                +subscription-text-field({
                  name: 'Email',
                  placeholder: 'Email',
                  iconHref: '/mock-address/change-me'
                })
            .form-elements-hero__column
              .form-elements-hero__item.form-elements-hero__item_option_checkbox
                p.form-elements-hero__title.form-elements-hero__title_long-indent Checkbox Buttons
                +checkbox({ text: 'Можно курить', isChecked: false })
                +checkbox({ text: 'Можно с питомцами' })
                +checkbox({ text: 'Можно пригласить гостей (до 10 человек)' })
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent Radio Buttons
                +radio-buttons
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent Toggle
                +toggle({ text: 'Получать спецпредложения' })
                +toggle({ text: 'Получать спецпредложения', isChecked: false })
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent like button
                .like-button-item(data-component-name = "like-button")
                  +like-button
                .like-button-item(data-component-name = "like-button")
                  +like-button({
                    count: 12,
                    isChecked: true
                  })
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent rate button
                .rate-button-item(data-component-name = "rate-button")
                  +rate-button({
                    rating: 4,
                  })
                .rate-button-item(data-component-name = "rate-button")
                  +rate-button({
                    rating: 5,
                    readonly: true,
                  })
            .form-elements-hero__column
              .form-elements-hero__item(data-component-name = "range-slider")
                +range-slider
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent buttons
                +button({ type: 'background' })
              .form-elements-hero__item
                +button({ type: 'border' })
              .form-elements-hero__item
                +button
              .form-elements-hero__item
                +button({
                  type: 'long',
                  text: 'перейти к оплате'
                })
              .form-elements-hero__item(data-component-name = "pagination")
                p.form-elements-hero__title.form-elements-hero__title_long-indent pagination
                +pagination
            .form-elements-hero__column
              .form-elements-hero__item(data-component-name = "dropdown")
                p.form-elements-hero__title dropdown
                +dropdown({
                  title: 'dropdown',
                  dropType: 'room-about',
                  isOpenList: false,
                  list: [
                    {name: 'спальни', total: 2},
                    {name: 'кровати', total: 2},
                    {name: 'ванные комнаты', total: 0}
                  ]
                })
              .form-elements-hero__item(data-component-name = "checkbox-list")
                +checkbox-list({
                  list: [
                    { text: 'Завтрак', isChecked: false },
                    { text: 'Письменный стол' },
                    { text: 'Стул для кормления' },
                    { text: 'Кроватка' },
                    { text: 'Телевизор', isChecked: false },
                    { text: 'Шампунь', isChecked: false },
                    { text: 'Телевизор', isChecked: false },
                    { text: 'Шампунь', isChecked: false }
                  ]
                })
              .form-elements-hero__item
                +room-info({
                  list: [
                    {icon: 'insert_emoticon', name: 'Комфорт', desc: 'Шумопоглощающие стены'},
                    {icon: 'location_city', name: 'Удобство', desc: 'Окно в каждой из спален'}
                  ]
                })
            .form-elements-hero__column
              .form-elements-hero__item(data-component-name = "dropdown")
                p.form-elements-hero__title dropdown
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0}
                  ]
                })
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent rich Checkbox Buttons
                +rich-checkbox-buttons({
                  title: 'rich Checkbox Buttons',
                  list: [
                    {name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.'},
                    {name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
                  ]
                })
            .form-elements-hero__column
              .form-elements-hero__item(data-component-name = "dropdown")
                p.form-elements-hero__title dropdown
                +dropdown({
                  title: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 2},
                    {name: 'дети', total: 1},
                    {name: 'младенцы', total: 0}
                  ]
                })
              .form-elements-hero__item
                p.form-elements-hero__title.form-elements-hero__title_long-indent bullet list
                +bullet-list({
                  list: [
                    {name: 'Нельзя с питомцами'},
                    {name: 'Без вечеринок и мероприятий'},
                    {name: 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'}
                  ]
                })
            .form-elements-hero__column.form-elements-hero__column_option_user-comment
              .form-elements-hero__item.form-elements-hero__item_option_user-comment(data-component-name = "user-comment")
                +user-comment({
                  desc: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })