include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin start-filter(options={})
  -
    const {
      title = '',
      dateOptions,
      dropdownOptions,
      buttonOptions,
    } = options;

  .start-filter.js-start-filter
    p.start-filter__title !{title}
    .start-filter__dates
      +date-dropdown(dateOptions)
    .start-filter__guests
      span.start-filter__input-title гости
      +dropdown(dropdownOptions)
    .start-filter__confirm-btn
      +button(buttonOptions)
