include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../buttons/buttons.pug

mixin start-filter({ tittle = 'Найдём номера под ваши пожелания' }={})
  .start-filter.js-start-filter
    p.start-filter__tittle #{tittle}
    .start-filter__dates
      +date-dropdown({
        isOpen: false,
      })
    .start-filter__guests
      +dropdown({
        dropType: 'guests',
        isOpenList: false,
        list: [
          {name: 'взрослые', number: 0},
          {name: 'дети', number: 0},
          {name: 'младенцы', number: 0}
        ]
      })
    .start-filter__confirm-btn
      +button({
        groupName: 'long',
        text: 'подобрать номер',
        href: 'search-room.html'
      })
