@import '../date-dropdown/date-dropdown.scss';
@import '../dropdown/dropdown.scss';
@import '../button/button.scss';

.start-filter {
  position: relative;
  max-width: 380px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fff;
  font-family: $main-font-family;

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin-bottom: 21px;
  }

  &__dates {
    margin-bottom: 21px;
    position: relative;
    z-index: 2;
  }

  &__input-title {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
    margin-bottom: 5px;
  }

  &__guests {
    margin-bottom: 31px;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 360px) {
  .start-filter {
    padding: 25px 15px 25px 15px;
  }
}
