mixin checkbox-buttons({ tittle, list=[], }={})
	.checkbox-btns
		if tittle
			.checkbox-btns__tittle #{tittle}
		each btn in list
			label.checkbox-btns__item
				input.checkbox-btns__input(type="checkbox" checked=(btn.check ? 'checked' : btn.check))
				span.checkbox-btns__box #{btn.name}