mixin checkbox-buttons({ list= [] }={})
  .checkbox-btns
    each btn in list
      label.checkbox-btns__item
        input.checkbox-btns__input(type='checkbox' checked= btn.check)
        span.checkbox-btns__box #{btn.name}