.checkbox-btns {
  display: flex;
  flex-direction: column;
  max-width: 222px;

  &__tittle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
    margin-bottom: 16px;
  }

  &__item {
    position: relative;
    margin-bottom: 11px;
    padding-left: 30px;
    line-height: 18px;
    color: $dark_shade_50;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:checked {
      border-color: $purple;
      background-image: url(../assets/img/check.svg);
    }
  }
}