extends ../layout/ui-kit.pug

include ../templates/logo/logo.pug
include ../templates/start-filter/start-filter.pug
include ../templates/registration-card/registration-card.pug
include ../templates/room-info-card/room-info-card.pug
include ../templates/login-card/login-card.pug
include ../templates/cutaway-room-card/cutaway-room-card.pug

block variables
  - pageTitle = 'Cards'

block content
  body.body
    main.cards-main 
      section.cards-hero
        .cards-hero__container
          .cards-hero__basic-wrap
            .start-cards-custom-column
              .start-cards-custom-column__item
                +start-filter
              .start-cards-custom-column__item
                +registration-card
            .middle-cards-custom-column
              .middle-cards-custom-column__item
                +room-info-card
              .middle-cards-custom-column__item
                +login-card
            .end-cards-custom-column
              .end-cards-custom-column__item
                +cutaway-room-card({
                  sliders: [
                    {src: 'assets/img/rooms/room-888.jpg', alt: 'room №888'},
                    {src: 'assets/img/rooms/room-888.jpg', alt: 'room №888'},
                    {src: 'assets/img/rooms/room-888.jpg', alt: 'room №888'},
                    {src: 'assets/img/rooms/room-888.jpg', alt: 'room №888'},
                  ],
                })
              .end-cards-custom-column__item
                +cutaway-room-card({
                  number: 840,
                  lux: false,
                  stars: 4,
                  sliders: [
                    {src: 'assets/img/rooms/room-840.jpg', alt: 'room №840'},
                    {src: 'assets/img/rooms/room-840.jpg', alt: 'room №840'},
                    {src: 'assets/img/rooms/room-840.jpg', alt: 'room №840'},
                    {src: 'assets/img/rooms/room-840.jpg', alt: 'room №840'},
                  ],
                })