extends ../layout/ui-kit.pug

include ../templates/logo/logo.pug
include ../templates/text-field/text-field.pug
include ../templates/dropdown/dropdown.pug
include ../templates/date-dropdown/date-dropdown.pug
include ../templates/filter-date-dropdown/filter-date-dropdown.pug
include ../templates/subscription-text-field/subscription-text-field.pug
include ../templates/checkbox-buttons/checkbox-buttons.pug
include ../templates/radio-buttons/radio-buttons.pug
include ../templates/toggle-button/toggle-button.pug
include ../templates/like-button/like-button.pug
include ../templates/rate-button/rate-button.pug
include ../templates/range-slider/range-slider.pug
include ../templates/buttons/buttons.pug
include ../templates/pagination/pagination.pug
include ../templates/checkbox-list/checkbox-list.pug
include ../templates/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../templates/bullet-list/bullet-list.pug
include ../templates/room-info/room-info.pug
include ../templates/user-comment/user-comment.pug

block variables
  - pageTitle = 'Form elements'

block content
  body
    header.header
      .header__container
        .header__logo
          +logo({
            full: false
          })
    main.form-elements-main 
      section.form-elements-hero
        .form-elements-hero__container
          .form-elements-hero__basic-wrap
            .text-field-custom-column
              .basic-item.text-field-custom-column__item
                p.basic-item__tittle text field
                +text-field
              .basic-item.text-field-custom-column__item
                +dropdown({
                  tittle: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0},
                  ]
                })
              .basic-item.text-field-custom-column__item
                p.basic-item__tittle masked text field
                +text-field({
                  isMasked: true,
                })
              .basic-item.text-field-custom-column__item
                +date-dropdown({
                  isOpen: false,
                  arr: 'date Dropdown',
                  dep: 'date Dropdown',
                })
              .basic-item.text-field-custom-column__item.filter-dates
                p.basic-item__tittle filter date dropdown
                .filter-dates__calendar
                  +filter-date-dropdown({
                    isOpen: false,
                  })
              .basic-item.text-field-custom-column__item
                p.basic-item__tittle subscription text field
                +subscription-text-field
            .checkbox-buttons-custom-column
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent Checkbox Buttons
                +checkbox-buttons({
                  list: [
                    {name: 'Можно курить'},
                    {name: 'Можно с питомцами', check: true},
                    {name: 'Можно пригласить гостей (до 10 человек)', check: true}
                  ]
                })
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent Radio Buttons
                +radio-buttons
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent Toggle
                +toggle-button({
                  check: true,
                })
              .basic-item.checkbox-buttons-custom-column__item
                +toggle-button
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent like button
                .checkbox-buttons-custom-column__like-group
                  +like-button
                .checkbox-buttons-custom-column__like-group
                  +like-button({
                    count: 12,
                    checked: true
                  })
              .basic-item.checkbox-buttons-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent rate button
                .checkbox-buttons-custom-column__rate-group
                  +rate-button({
                    rating: 4,
                  })
                .checkbox-buttons-custom-column__rate-group
                  +rate-button({
                    rating: 5,
                    readonly: true,
                  })
            .range-slider-custom-column
              .basic-item.range-slider-custom-column__item
                +range-slider
              .basic-item.range-slider-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent buttons
                .range-slider-custom-column__buttons-group
                  +button({
                    groupName: 'background',
                  })
                .range-slider-custom-column__buttons-group
                  +button({
                    groupName: 'border'
                  })
              .basic-item.range-slider-custom-column__item
                +button
              .basic-item.range-slider-custom-column__item
                +button({
                  groupName: 'long',
                  text: 'перейти к оплате'
                })
              .basic-item.range-slider-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent pagination
                +pagination
            .drop-first-custom-column
              .basic-item.drop-first-custom-column__item
                +dropdown({
                  tittle: 'dropdown',
                  dropType: 'room-about',
                  isOpenList: false,
                  list: [
                    {name: 'спальни', total: 2},
                    {name: 'кровати', total: 2},
                    {name: 'ванные комнаты', total: 0}
                  ]
                })
            .drop-second-custom-column
              .basic-item.drop-second-custom-column__item
                +dropdown({
                  tittle: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 0},
                    {name: 'дети', total: 0},
                    {name: 'младенцы', total: 0}
                  ]
                })
            .drop-third-custom-column
              .basic-item.drop-third-custom-column__item
                +dropdown({
                  tittle: 'dropdown',
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', total: 2},
                    {name: 'дети', total: 1},
                    {name: 'младенцы', total: 0}
                  ]
                })
            .exp-checkbox-list-custom-column
              .basic-item.exp-checkbox-list-custom-column__item
                +checkbox-list({
                  list: [
                    {name: 'Завтрак'},
                    {name: 'Письменный стол', check: true},
                    {name: 'Стул для кормления', check: true},
                    {name: 'Кроватка', check: true},
                    {name: 'Телевизор'},
                    {name: 'Шампунь'},
                    {name: 'Телевизор'},
                    {name: 'Шампунь'}
                  ]
                })
            .rich-checkbox-buttons-custom-column
              .basic-item.rich-checkbox-buttons-custom-column__item
                +rich-checkbox-buttons({
                  tittle: 'rich Checkbox Buttons',
                  list: [
                    {name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.'},
                    {name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
                  ]
                })
            .bullet-list-custom-column
              .basic-item.bullet-list-custom-column__item
                p.basic-item__tittle.basic-item__tittle_long-indent bullet list
                +bullet-list({
                  list: [
                    {name: 'Нельзя с питомцами'},
                    {name: 'Без вечеринок и мероприятий'},
                    {name: 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'}
                  ]
                })
            .room-comfort-custom-column
              .basic-item.room-comfort-custom-column__item
                +room-info({
                  list: [
                    {icon: 'insert_emoticon', name: 'Комфорт', desc: 'Шумопоглощающие стены'},
                    {icon: 'location_city', name: 'Удобство', desc: 'Окно в каждой из спален'}
                  ]
                })
            .comment-custom-column
              .basic-item.comment-custom-column__item
                +user-comment({
                  desc: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })