extends ../layout/ui-kit.pug

include ../templates/logo/logo.pug
include ../templates/header-unauth/header-unauth.pug
include ../templates/header-auth/header-auth.pug
include ../templates/footer/footer.pug

block variables
  - pageTitle = 'Headers & footers'

block content
  body.body
    header.header
      .header__container
        .header__logo
          +logo({
            full: false
          })
    main.headers-footers-main
      section.headers-footers-hero
        article.article-header-unreg-user
          +header-unauth
        article.article-header-authorized-user
          +header-auth
        article.article-footer
          +footer
