extends ../layout/ui-kit.pug

include ../templates/logo/logo.pug
include ../templates/header/header.pug
include ../templates/footer/footer.pug

block variables
  - pageTitle = 'Headers & footers'

block content
  body.body
    main.headers-footers-main
      section.headers-footers-hero
        article.article-header-unreg-user
          +header({
            navMenu: [
              {
                name: 'О нас',
                href: '/mock-address/change-me',
              },
              {
                name: 'Услуги',
                href: '/mock-address/change-me',
                submenu: [
                  {
                    name: 'Соглашения',
                    href: '/mock-address/change-me',
                  },
                  {
                    name: 'Вакансии',
                    href: '/mock-address/change-me',
                  },
                ]
              },
              {
                name: 'Вакансии',
                href: '/mock-address/change-me',
              },
              {
                name: 'Новости',
                href: '/mock-address/change-me',
              },
              {
                name: 'Соглашения',
                href: '/mock-address/change-me',
                submenu: [
                  {
                    name: 'Соглашения',
                    href: '/mock-address/change-me',
                  },
                  {
                    name: 'Вакансии',
                    href: '/mock-address/change-me',
                  },
                ]
              },
            ]
          })
        article.article-header-authorized-user
          +header({
            user: 'Юлий Цезарь',
            navMenu: [
              {
                name: 'О нас',
                href: '/mock-address/change-me',
              },
              {
                name: 'Услуги',
                href: '/mock-address/change-me',
                submenu: [
                  {
                    name: 'Соглашения',
                    href: '/mock-address/change-me',
                  },
                  {
                    name: 'Вакансии',
                    href: '/mock-address/change-me',
                  },
                ]
              },
              {
                name: 'Вакансии',
                href: '/mock-address/change-me',
              },
              {
                name: 'Новости',
                href: '/mock-address/change-me',
              },
              {
                name: 'Соглашения',
                href: '/mock-address/change-me',
                submenu: [
                  {
                    name: 'Соглашения',
                    href: '/mock-address/change-me',
                  },
                  {
                    name: 'Вакансии',
                    href: '/mock-address/change-me',
                  },
                ]
              },
            ]
          })
        article.article-footer
          +footer
