extends ../layout/default.pug

include ../templates/room-info/room-info.pug
include ../templates/donut-chart/donut-chart.pug
include ../templates/room-info-card/room-info-card.pug
include ../templates/user-comment/user-comment.pug
include ../templates/bullet-list/bullet-list.pug

block variables
  - pageTitle = 'Room-details'

block content
  main.room-details-main
    .room-details-main__container
      .room-img-gallery
        .room-img-gallery__grid
          .room-img-gallery__left-box
            img.room-main-img(src='assets/img/rooms/room-888.jpg', alt='room #888')
          .room-img-gallery__right-box
            img.room-secondary-img.room-secondary-img--revert(src='assets/img/rooms/room-888-2.jpg', alt='room #888')
            img.room-secondary-img(src='assets/img/rooms/room-888-3.jpg', alt='room #888')
      .room-main-info
        .room-main-info__container
          .room-main-info__grid
            .room-details
              .room-details__container
                p.room-main-info__box-title Сведения о номере
                +room-info({
                  list: [
                    {icon: 'insert_emoticon', name: 'Комфорт', desc: 'Шумопоглощающие стены'},
                    {icon: 'location_city', name: 'Удобство', desc: 'Окно в каждой из спален'},
                    {icon: 'whatshot', name: 'Уют', desc: 'Номер оснащён камином'},
                  ]
                })
            .impressions-room
              .impressions-room__container
                p.room-main-info__box-title Впечатления от номера
                .impressions-room__diagram
                  +donut-chart
            .booking-card
              .booking-card__container
                +room-info-card
            .visitor-reviews
              .visitor-reviews__box-title
                p.room-main-info__box-title Отзывы посетителей номера
                p.visitor-reviews__title 2 отзыва
              .visitor-reviews__item
                +user-comment({
                  desc: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })
              .visitor-reviews__item
                +user-comment({
                  likeCount: 2,
                  likeCheck: false,
                  srcImg: 'assets/img/users/user-image-2.jpg',
                  name: 'Патрисия Стёклышкова',
                  data: 'Неделю назад',
                  desc: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
                })
            .additional-info
              .additional-info__rules-box.rules-box
                p.room-main-info__box-title.rules-box__title Правила
                +bullet-list({
                  list: [
                    {name: 'Нельзя с питомцами'},
                    {name: 'Без вечеринок и мероприятий'},
                    {name: 'Время прибытия — после 13:00, а&nbsp;выезд до 12:00'}
                  ]
                })
              .additional-info__cancel-box
                p.room-main-info__box-title Отмена
                p.room-main-info__box-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.