doctype html
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title search-room
    body
      include ../templates/header-unauth/header-unauth.pug
      +header-unauth
      main.main
        .main__container
          .basic-wrap
            .filter-room-sidebar
              .filter-room-sidebar__item.sidebar-date-dropdown
                include ../templates/filter-date-dropdown/filter-date-dropdown.pug
                +filter-date-dropdown({
                  tittle: 'даты пребывания в отеле',
                  isOpen: false
                })
              .filter-room-sidebar__item.sidebar-guests-dropdown
                include ../templates/dropdown/dropdown.pug
                +dropdown({
                  isOpenList: false,
                  list: [
                    {name: 'взрослые', number: 2},
                    {name: 'дети', number: 1},
                    {name: 'младенцы', number: 0},
                  ]
                })
              .filter-room-sidebar__item.sidebar-range-slider
                include ../templates/range-slider/range-slider.pug
                +range-slider({
                  title: 'диапазон цены'
                })
                p.sidebar-range-slider__description Стоимость за сутки пребывания в номере
              .filter-room-sidebar__item.sidebar-checkbox-buttons
                include ../templates/checkbox-buttons/checkbox-buttons.pug
                +checkbox-buttons({
                  title: 'правила дома',
                  list: [
                    {name: 'Можно курить'},
                    {name: 'Можно с питомцами', check: true},
                    {name: 'Можно курить', check: true}
                  ]
                })
              .filter-room-sidebar__item.sidebar-rich-checkbox-buttons
                include ../templates/rich-checkbox-buttons/rich-checkbox-buttons.pug
                +rich-checkbox-buttons({
                  title: 'доступность',
                  list: [
                    {name: 'Широкий коридор', desc: 'Ширина коридоров в номере не менее 91 см.'},
                    {name: 'Помощник для инвалидов', desc: 'На 1 этаже вас встретит специалист  и проводит до номера.'}
                  ]
                })
              .filter-room-sidebar__item.sidebar-room-about-dropdown
                +dropdown({
                  title: 'удобства номера',
                  dropType: 'room-about',
                  isOpenList: false,
                  list: [
                    {name: 'спальни', number: 2},
                    {name: 'кровати', number: 2},
                    {name: 'младенцы', number: 0},
                  ]
                })
              .filter-room-sidebar__item.sidebar-checkbox-list
                include ../templates/checkbox-list/checkbox-list.pug
                +checkbox-list({
                  title: 'дополнительные удобства',
                  list: [
                      {name: 'Завтрак'},
                      {name: 'Письменный стол', check: true},
                      {name: 'Стул для кормления', check: true},
                      {name: 'Кроватка', check: true},
                      {name: 'Телевизор'},
                      {name: 'Шампунь'},
                      {name: 'Телевизор'},
                      {name: 'Шампунь'}
                    ]
                })
            .room-cards-list
              h1.page-title Номера, которые мы для вас подобрали
              .room-cards-grid
                .room-cards-grid__box
                  include ../templates/cutaway-room-card/cutaway-room-card.pug
                  +cutaway-room-card({
                    number: 888,
                    lux: true,
                    price: 9990,
                    stars: 5,
                    reviews: 145,
                    sliders: [
                      {src: '../assets/img/room-888.jpg', alt: 'room №888'},
                      {src: '../assets/img/room-888.jpg', alt: 'room №888'},
                      {src: '../assets/img/room-888.jpg', alt: 'room №888'},
                      {src: '../assets/img/room-888.jpg', alt: 'room №888'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 840,
                    lux: false,
                    price: 9990,
                    stars: 4,
                    reviews: 65,
                    sliders: [
                      {src: '../assets/img/room-840.jpg', alt: 'room №840'},
                      {src: '../assets/img/room-840.jpg', alt: 'room №840'},
                      {src: '../assets/img/room-840.jpg', alt: 'room №840'},
                      {src: '../assets/img/room-840.jpg', alt: 'room №840'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 980,
                    lux: true,
                    price: 8500,
                    stars: 3,
                    reviews: 35,
                    sliders: [
                      {src: '../assets/img/room-980.jpg', alt: 'room №980'},
                      {src: '../assets/img/room-980.jpg', alt: 'room №980'},
                      {src: '../assets/img/room-980.jpg', alt: 'room №980'},
                      {src: '../assets/img/room-980.jpg', alt: 'room №980'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 856,
                    lux: false,
                    price: 7300,
                    stars: 5,
                    reviews: 19,
                    sliders: [
                      {src: '../assets/img/room-856.jpg', alt: 'room №856'},
                      {src: '../assets/img/room-856.jpg', alt: 'room №856'},
                      {src: '../assets/img/room-856.jpg', alt: 'room №856'},
                      {src: '../assets/img/room-856.jpg', alt: 'room №856'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 740,
                    lux: false,
                    price: 6000,
                    stars: 4,
                    reviews: 44,
                    sliders: [
                      {src: '../assets/img/room-740.jpg', alt: 'room №740'},
                      {src: '../assets/img/room-740.jpg', alt: 'room №740'},
                      {src: '../assets/img/room-740.jpg', alt: 'room №740'},
                      {src: '../assets/img/room-740.jpg', alt: 'room №740'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 982,
                    lux: false,
                    price: 5800,
                    stars: 3,
                    reviews: 56,
                    sliders: [
                      {src: '../assets/img/room-982.jpg', alt: 'room №982'},
                      {src: '../assets/img/room-982.jpg', alt: 'room №982'},
                      {src: '../assets/img/room-982.jpg', alt: 'room №982'},
                      {src: '../assets/img/room-982.jpg', alt: 'room №982'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 678,
                    lux: false,
                    price: 5500,
                    stars: 5,
                    reviews: 45,
                    sliders: [
                      {src: '../assets/img/room-678.jpg', alt: 'room №678'},
                      {src: '../assets/img/room-678.jpg', alt: 'room №678'},
                      {src: '../assets/img/room-678.jpg', alt: 'room №678'},
                      {src: '../assets/img/room-678.jpg', alt: 'room №678'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 450,
                    lux: false,
                    price: 5300,
                    stars: 4,
                    reviews: 39,
                    sliders: [
                      {src: '../assets/img/room-450.jpg', alt: 'room №450'},
                      {src: '../assets/img/room-450.jpg', alt: 'room №450'},
                      {src: '../assets/img/room-450.jpg', alt: 'room №450'},
                      {src: '../assets/img/room-450.jpg', alt: 'room №450'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 350,
                    lux: false,
                    price: 5000,
                    stars: 3,
                    reviews: 77,
                    sliders: [
                      {src: '../assets/img/room-350.jpg', alt: 'room №350'},
                      {src: '../assets/img/room-350.jpg', alt: 'room №350'},
                      {src: '../assets/img/room-350.jpg', alt: 'room №350'},
                      {src: '../assets/img/room-350.jpg', alt: 'room №350'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 666,
                    lux: false,
                    price: 5000,
                    stars: 5,
                    reviews: 25,
                    sliders: [
                      {src: '../assets/img/room-666.jpg', alt: 'room №666'},
                      {src: '../assets/img/room-666.jpg', alt: 'room №666'},
                      {src: '../assets/img/room-666.jpg', alt: 'room №666'},
                      {src: '../assets/img/room-666.jpg', alt: 'room №666'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 444,
                    lux: false,
                    price: 5000,
                    stars: 3,
                    reviews: 15,
                    sliders: [
                      {src: '../assets/img/room-444.jpg', alt: 'room №444'},
                      {src: '../assets/img/room-444.jpg', alt: 'room №444'},
                      {src: '../assets/img/room-444.jpg', alt: 'room №444'},
                      {src: '../assets/img/room-444.jpg', alt: 'room №444'},
                    ],
                  })
                .room-cards-grid__box
                  +cutaway-room-card({
                    number: 352,
                    lux: false,
                    price: 5000,
                    stars: 3,
                    reviews: 55,
                    sliders: [
                      {src: '../assets/img/room-352.jpg', alt: 'room №352'},
                      {src: '../assets/img/room-352.jpg', alt: 'room №352'},
                      {src: '../assets/img/room-352.jpg', alt: 'room №352'},
                      {src: '../assets/img/room-352.jpg', alt: 'room №352'},
                    ],
                  })
            .pagination-block
              include ../templates/pagination/pagination.pug
              +pagination
      include ../templates/footer/footer.pug
      +footer
        