doctype html
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title sign-in
    body
      include ../templates/header-unauth/header-unauth.pug
      +header-unauth
      main.main(style="background-image: url('../assets/img/auth.jpg')")
        .main__container
          include ../templates/login-card/login-card.pug
          +login-card
      include ../templates/footer/footer.pug
      +footer