extends ../layout/default.pug

include ../templates/registration-card/registration-card.pug

block variables
  - pageTitle = 'Sign-up'

block content
  main.sign-up-main(style="background-image: url('assets/img/auth.jpg')")
    .sign-up-main__container
      +registration-card