@import '../../styles/global.scss';
@import '../../templates/header-ui/header-ui.scss';

.colors-type-hero {
  font-family: $main-font-family;

  &__container {
    max-width: 1162px;
    margin: 0 auto;
    padding: 37px 30px;

    @media screen and (max-width: 860px) {
      padding: 37px 10px;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 286px;

    @media screen and (max-width: 860px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.colors-list {
  align-items: center;
  margin-bottom: 20px;
  list-style: none;

  &__title {
    font-weight: 700;
    color: $color-main-darker;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin: 0;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    line-height: 28px;
  }

  &__palette {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;

    &_color {
      &_dark-shade-100 {
        background: $color-main-darker;
      }

      &_dark-shade-75 {
        background: $color-main-dark;
      }

      &_dark-shade-50 {
        background: $color-main-light;
      }

      &_dark-shade-25 {
        background: $color-main-lighter;
      }

      &_dark-shade-5 {
        background: $color-main-translucent;
      }

      &_purple {
        background: $color-main;
      }

      &_green {
        background: $color-secondary;
      }
    }
  }
}

.fonts-list {
  max-width: 436px;
  color: $color-main-lighter;
  margin-bottom: 50px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    margin-right: 30px;
    text-transform: uppercase;
  }

  &__description {
    font-weight: 700;
    color: $color-main-darker;
  }

  &__info-box {
    display: flex;
    align-self: start;

    &_tag {
      &_h1 {
        font-size: 24px;
        line-height: 29px;
      }

      &_h2 {
        font-size: 19px;
        line-height: 23px;
      }

      &_h3 {
        font-size: 12px;
        line-height: 15px;

        .fonts-list__description {
          text-transform: uppercase;
        }
      }

      &_body {
        font-size: 14px;
        line-height: 24px;

        .fonts-list__title {
          text-transform: none;
        }

        .fonts-list__description {
          font-weight: 400;
          color: $color-main-dark;
        }
      }
    }
  }
}
