extends ../../layout/ui-kit.pug

include ../../templates/logo/logo.pug

block variables
  - pageTitle = 'Colors & types'

block content
  body
    main
      section.colors-type-hero
        .colors-type-hero__container
          .colors-type-hero__grid
            ul.colors-list
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_dark-shade-100
                .colors-list__info-box
                  span.colors-list__title Dark Shade 100%
                  span.colors-list__description #1F2041
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_dark-shade-75
                .colors-list__info-box
                  span.colors-list__title Dark Shade 75%
                  span.colors-list__description #1F2041
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_dark-shade-50
                .colors-list__info-box
                  span.colors-list__title Dark Shade 50%
                  span.colors-list__description #1F2041
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_dark-shade-25
                .colors-list__info-box
                  span.colors-list__title Dark Shade 25%
                  span.colors-list__description #1F2041
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_dark-shade-5
                .colors-list__info-box
                  span.colors-list__title Dark Shade 5%
                  span.colors-list__description #1F2041
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_purple
                .colors-list__info-box
                  span.colors-list__title Purple
                  span.colors-list__description #BC9CFF
              li.colors-list__item
                .colors-list__palette.colors-list__palette_color_green
                .colors-list__info-box
                  span.colors-list__title Green
                  span.colors-list__description #6FCF97
            ul.fonts-list
              li.fonts-list
                .fonts-list__info-box.fonts-list__info-box_tag_h1
                  span.fonts-list__title H1
                  span.fonts-list__description This one is the sub-section or widget title
              li.fonts-list
                .fonts-list__info-box.fonts-list__info-box_tag_h2
                  span.fonts-list__title H2
                  span.fonts-list__description Next one is the item title inside widgets
              li.fonts-list
                .fonts-list__info-box.fonts-list__info-box_tag_h3
                  span.fonts-list__title H3
                  span.fonts-list__description This is a label or CTA text
              li.fonts-list
                .fonts-list__info-box.fonts-list__info-box_tag_body
                  span.fonts-list__title Body
                  span.fonts-list__description This is the body text which is used for most of&nbsp;the&nbsp;design, like paragraphs, lists, etc.

