.button-link {

    &__elem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        font-family: 'Montserrat-Bold', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        user-select: none;
        cursor: pointer;
        outline: none;
    }

    .btnDefault {
        width: 99px;
        height: 34px;
        color: $purple;

        &--small{
            width: 87px;
        }
        
        &:hover {
            color: $dark_shade_50;
        }
    }

    .btnBackground {     
        width: 196px;
        color: white;
        background: $main-gradient;
        border-radius: 22px;

        &--small{
            height: 34px;
        }
        
        &:hover {
            opacity: 0.5;
        }
    }
    .btnBorder {
        width: 99px;
        border-radius: 22px;
        border: 2px solid transparent;
        background: $main-gradient;
        color: $purple;
        background-position: center center;
        box-shadow:inset 0 0 0 100px white;
        background-size:  110% 110%;

        &--small{
            width: 87px;
            height: 34px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
    .btnLong {
        position: relative;
        width: 320px;
        color: white;
        background: $main-gradient;
        border-radius: 22px;

        .material-icons {
            width: 44px;
            height: 44px;
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &:hover {
            opacity: 0.5;
        }
    }
}