include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin registration-card({ hrefLogin='sign-in.html', hrefJoin='search-room.html' }={})
  .registration-card.js-registration-card
    p.registration-card__title Регистрация аккаунта
    .registration-card__user-name
      +text-field({
        list: [
          { type: 'text', placeholder: 'Имя' },
          { type: 'text', placeholder: 'Фамилия' },
        ],
      })
    .registration-card__user-sex
      +radio-buttons
    .registration-card__user-birthday
      +text-field({
        title: 'дата рождения',
        list: [
          { type: 'text', isMasked: true },
        ],
      })
    .registration-card__email-password
      +text-field({
        title: 'данные для входа в сервис',
        list: [
          { type: 'text', placeholder: 'Email' },
          { type: 'password', placeholder: 'Пароль' },
        ],
      })
    .registration-card__user-info-distribution
      +toggle({ text: 'Получать спецпредложения', isChecked: false })
    .registration-card__confirm-btn.js-registration-card-registr
      +button({
        type: 'long',
        text: 'зарегистрироваться',
        href: hrefJoin
      })
    .registration-card__login-container
      p.registration-card__login-container-tittle Уже есть аккаунт на Toxin
      +button({
        type: 'border',
        text: 'войти',
        href: hrefLogin
      })


