mixin rate-button({ rating = 3, readonly = false }={})
  - let n = 0;
  .rate-button.js-rate-button
    select(data-rate-body data-rating= `${rating}` data-readonly= `${readonly}`)
      while n < 5
        option(value=n+=1)= n