.br-theme-fontawesome-stars {
	.br-widget {
		height: 28px;

		a {
			font-family: 'MaterialIcons-Regular';
			background: $main-gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-right: 2px;
		}

		a:after {
			content: 'star_border';
		}

		a.br-active:after {
			content: 'star';
		}

		a.br-selected:after {
			content: 'star';
		}
	}
} 
  