.rate-button {
	&__tittle{
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark_shade_100;
  }

	.br-widget {
		display: flex;

		a {
			width: 24px;
			height: 24px;
			font-family: 'MaterialIcons';
			font-size: 24px;
			line-height: 20px;
			background: $main-gradient;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			&::after {
				content: 'star_border';
			}
		}

		a.br-active::after {
			content: 'star';
		}

		a.br-selected::after {
			content: 'star';
		}
	}
}
  