mixin header-nav-menu(listMenu= [])
  ul.header-nav-menu.js-header-nav-menu
    each item in listMenu
      li.header-nav-menu__item.js-header-nav-menu__item(data-with-submenu = item.submenu ? true : false)
        if item.submenu
          span.header-nav-menu__link(href= item.href title= item.name) !{item.name}
          i.material-icons.header-nav-menu__icon expand_more
          ul.submenu
            each itemSubmenu in item.submenu
              li.submenu__item
                a.submenu__link(href= itemSubmenu.href title= itemSubmenu.name) !{itemSubmenu.name}
        else
          a.header-nav-menu__link(href= item.href title= item.name) !{item.name}