include ../logo/logo.pug
include ../buttons/buttons.pug

mixin header-auth({  }={})
  header.header-auth
    .header-auth__container
      .header-auth__logo
        +logo
      nav.header-auth__nav-menu
        include ../nav-menu/nav-menu.pug
        +nav-menu({
          listMenu: [
            {name: 'О нас', href: '/mock-address/change-me'},
            {name: 'Услуги', href: '/mock-address/change-me', submenu: [
              {name: 'Соглашения', href: '/mock-address/change-me'},
              {name: 'Вакансии', href: '/mock-address/change-me'}
            ]},
            {name: 'Вакансии', href: '/mock-address/change-me'},
            {name: 'Новости', href: '/mock-address/change-me'},
            {name: 'Соглашения', href: '/mock-address/change-me', submenu: [
              {name: 'Соглашения', href: '/mock-address/change-me'},
              {name: 'Вакансии', href: '/mock-address/change-me'}
            ]},
          ]
        })
      .header-auth__user-box
        a.header-auth__user-link(href='/mock-address/change-me') Юлий Цезарь