@import '../like-button/like-button.scss';

.user-comment {
  max-width: 711px;
  display: inline-flex;

  &__left-box {
    width: 48px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }

  &__user-img {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  }

  &__user-name {
    margin-bottom: 2px;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  &__data {
    margin-bottom: 10px;
  }
}
