.bullet-list {
  max-width: 292px;
}

.bullet-list__list {
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
}

.bullet-list__item {
  position: relative;
  padding: 3px 0 5px 3px;

  &::before {
    position: absolute;
    content: '';
    top: 10px;
    left: -15px;
    width: 10px;
    height: 10px;
    background-color: $dark_shade_25;
    border-radius: 50%;
  }

  &:first-child{
    padding-top: 0;
  }

  &:last-child{
    padding-bottom: 0;
  }
}