.bullet-list {
  max-width: 292px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 24px;
  list-style: none;

  &__item {
    position: relative;
    padding: 3px 0 5px 3px;

    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 10px;
      left: -15px;
      border-radius: 50%;
      background-color: $color-main-lighter;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}
