@import '../calendar/calendar.scss';

.filter-date-dropdown {
  max-width: 266px;
  position: relative;
  font-family: $main-font-family;

  &__name {
    position: relative;
    height: 44px;
    background: #fff;
    border: 1px solid $color-main-lighter;
    border-radius: 4px;
    padding-left: 15px;
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $color-main-dark;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 24px;
    color: $color-main-light;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__calendar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    margin-top: 5px;
    z-index: 100;
  }
}
