include ../calendar/calendar.pug

mixin filter-date-dropdown({ isOpen = false, placeholder='Выберите даты' }={})
  .filter-date-dropdown.js-filter-date-dropdown(data-is-open=`${isOpen}`)
    .filter-date-dropdown__name.js-filter-date-dropdown__name
      p(data-placeholder-type="dropdown-name") #{placeholder}
      i.material-icons.filter-date-dropdown__icon.js-filter-date-dropdown__icon expand_more
    .filter-date-dropdown__calendar.js-filter-date-dropdown__calendar
      +calendar