.checkbox {
  max-width: 222px;
  display: flex;
  width: fit-content;
  position: relative;
  margin-bottom: 11px;
  padding-left: 30px;
  line-height: 18px;
  color: $color-main-light;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $color-main-lighter;
    border-radius: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;

    &:checked {
      border-color: $color-main;
      background-image: url(../../assets/img/icons/check.svg);
    }
  }
}
