.checkbox {
  max-width: 222px;
  display: flex;
  width: fit-content;
  position: relative;
  margin-bottom: 11px;
  padding-left: 30px;
  line-height: 18px;
  color: $dark_shade_50;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dark_shade_25;
    border-radius: 4px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:checked {
      border-color: $purple;
      background-image: url(../../assets/img/icons/check.svg);
    }
  }
}
