.footer-nav-menu {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 150px);
  gap: 50px;

  &__list {
    display: grid;
    row-gap: 20px;
    list-style: none;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: $color-main-darker;
  }

  &__item-name {
    white-space: nowrap;
    font-size: 14px;
    line-height: 17px;
    color: $color-main;
    text-decoration: none;

    &:hover {
      font-weight: 700;
      color: $color-main-dark;
    }
  }
}
