@import "~normalize.css";

@import "../styles/global.scss";
@import "../templates/logo/logo.scss";
@import "../templates/header-unauth/header-unauth.scss";
@import "../templates/header-auth/header-auth.scss";
@import "../templates/footer/footer.scss";

.body {
  background: #f4f4f6;
}

.header {
  &__container {
    padding: 30px;
  }
}

.article-header-unreg-user,
.article-header-authorized-user {
  margin-bottom: 40px;
}
