@import "~normalize.css";

.body {
  background: #f4f4f6;
}

.header {
  &__container {
    padding: 30px;
  }
}

.article-header-unreg-user,
.article-header-authorized-user {
  margin-bottom: 40px;
}
