.index-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;

  &__container {
    max-width: 1175px;
    min-height: 830px;
    padding: 70px 15px;
    margin: 0 auto;
    position: relative;
  }
}

.site-description-box {
  max-width: 297px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 18px;
  color: $dark_shade_75;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1200px) {
  .site-description-box {
    margin: 0 15px 18px;
  }
}

@media screen and (max-width: 410px) {
  .index-main__container {
    padding: 70px 10px;
  }

  .start-filter {
    margin: 0 auto;

    &__dates {
      .date-dropdown__items {
        flex-direction: column;
      }
    }
  }
}
