.room-details-main {
  border-bottom: 1px solid $dark_shade_25;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.room-img-gallery {
  width: 100%;
  max-height: 485px;

  &__grid {
    max-height: inherit;
    display: grid;
    grid-template-columns: 1fr 461px;
  }

  &__left-box {
    max-height: inherit;
    grid-column: 1;
  }

  &__right-box {
    max-height: inherit;
    grid-column: 2;
    display: flex;
    flex-direction: column;
  }
}

.room-main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.room-secondary-img {
  max-height: 243px;
  height: 100%;
  width: 100%;
  object-fit: cover;

  &--revert {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.room-main-info {
  &__container {
    padding: 70px 15px;
  }

  &__grid {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      'room-details impressions-room booking-card'
      'visitor-reviews visitor-reviews booking-card'
      'additional-info additional-info booking-card';
    row-gap: 30px;
    column-gap: 70px;
  }

  &__box-title {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: $dark_shade_100;
    margin-bottom: 20px;
  }
}

.room-details {
  grid-area: room-details;
}

.impressions-room {
  grid-area: impressions-room;
}

.booking-card {
  grid-area: booking-card;

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.visitor-reviews {
  grid-area: visitor-reviews;
  max-width: 712px;

  &__box-title {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: $dark_shade_50;
    white-space: nowrap;
  }

  &__item {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.additional-info {
  grid-area: additional-info;
  display: flex;
  column-gap: 98px;

  &__cancel-box {
    max-width: 341px;
  }
}

.rules-box__title {
  margin-left: 20px;
}

@media screen and (max-width: 1120px) {
  .room-main-info__grid {
    grid-template-areas:
      'room-details booking-card'
      'impressions-room booking-card'
      'visitor-reviews visitor-reviews'
      'additional-info additional-info';
  }
}

@media screen and (max-width: 830px) {
  .room-main-info__grid {
    grid-template-areas:
      'booking-card booking-card'
      'room-details impressions-room'
      'visitor-reviews visitor-reviews'
      'additional-info additional-info';
  }

  .booking-card {
    display: flex;
    justify-content: center;
  }

  .room-img-gallery {
    max-height: fit-content;

    &__grid {
      grid-template-columns: 1fr;
      padding: 0 15px;
    }

    &__left-box {
      max-height: 430px;
      width: 100%;
      margin-bottom: 10px;
    }

    &__right-box {
      grid-column: 1;
      row-gap: 10px;
    }
  }

  .room-secondary-img {
    max-height: 430px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 760px) {
  .additional-info {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 700px) {
  .room-main-info__grid {
    grid-template-areas:
      'booking-card'
      'room-details'
      'impressions-room'
      'visitor-reviews'
      'additional-info';
  }

  .room-details,
  .impressions-room {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .visitor-reviews__box-title {
    column-gap: 15px;
  }

  .additional-info__rules-box {
    margin-bottom: 20px;
  }
}
