@import "~normalize.css";

@import "../templates/colors-type/colors.scss";
@import "../templates/colors-type/type.scss";
@import "../templates/colors-type/fonts.scss";
@import "../templates/header-unauth/header-unauth.scss";
@import '../templates/login-card/login-card.scss';
@import '../templates/footer/footer.scss';

.main{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container{
    max-width: 1175px;
    min-height: 830px;
    padding: 70px 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}