include ../text-field/text-field.pug
include ../button/button.pug

mixin login-card({ hrefLogin='search-room.html', hrefRegister='sign-up.html' }={})
  .login-card.js-login-card
    p.login-card__title Войти
    .login-card__user-form
      .login-card__input.js-login-card__input
        +text-field({ placeholder: 'Email' })
      .login-card__input.js-login-card__input
        +text-field({ type: 'password', placeholder: 'Пароль' })
    .login-card__sign-in
      +button({
          type: 'long',
          text: 'войти',
          href: hrefLogin
        })
    .login-card__sign-up
      p.login-card__sign-up-title Нет аккаунта на Toxin?
      +button({
        type: 'border',
        text: 'создать',
        href: hrefRegister
      })
      