include ../text-field/text-field.pug
include ../buttons/buttons.pug

mixin login-card({ hrefLogin='search-room.html', hrefRegistr='sign-up.html' }={})
  .login-card.js-login-card
    p.login-card__tittle Войти
    .login-card__user-form
      .login-card__user-form-email.js-login-card-email
        +text-field({
          placeholder: 'Email'
        })
      .login-card__user-form-password.js-login-card-password
        +text-field({
          placeholder: 'Пароль'
        })
    .login-card__sign-in.js-login-card-login-btn
      +button({
          groupName: 'long',
          text: 'войти',
          icon: true,
          href: hrefLogin
        })
    .login-card__registration-container
      p.login-card__registration-tittle Нет аккаунта на Toxin?
      +button({
        groupName: 'border',
        text: 'создать',
        href: hrefRegistr
      })
      