.pagination {
  &__tittle {
    margin-top: 10px;
    text-align: center;
    font-family: $main-font-family;
    font-size: 14px;
    line-height: 24px;
    color: $dark_shade_75;
  }

  &__body {
    .disabled {
      display: none;
    }

    ul {
      display: flex;
    }

    ul li {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
    }

    ul li a {
      color: $dark_shade_50;
      font-size: 12px;
      line-height: 15px;
      text-decoration: none;
    }

    .active {
      background: $main-gradient;
    }

    .current {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: white;
    }

    .prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $green-gradient;
      font-family: 'MaterialIcons';
      color: #fff;
      font-size: 24px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .next {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $green-gradient;
      font-family: 'MaterialIcons';
      color: #fff;
      font-size: 24px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
