mixin donut-chart({  }={})
  .donut-chart.js-donut-chart
    p.donut-chart__text-inside
      span.donut-chart__number 260
      span.donut-chart__label голосов
    ul.donut-chart__list
      li.donut-chart__list-item
        p.donut-chart__list-text Великолепно
      li.donut-chart__list-item
        p.donut-chart__list-text Хорошо
      li.donut-chart__list-item
        p.donut-chart__list-text Удовлетворительно
      li.donut-chart__list-item
        p.donut-chart__list-text Разочарован